.theme-light {
    --color-primary: #eeeeee;
    --color-accent: #3f72af;
    --font-color: #364f6b;
    --font-navbar: #eeeeee
}

.theme-dark {
    --color-primary: #323232;
    --color-accent: #212121;
    --font-color: #ececec;
    --font-navbar: #3f72af;
}

.theme-pastel {
    --color-primary: #ffe5d9;
    --color-accent: #FFB4A2;
    --font-color: #6D6875;
    --font-navbar: #6D6875;
}

.theme-warm {
    --color-primary: #ffe6a7;
    --color-accent: #780116;
    --font-color: #463F3A;
    --font-navbar: #ffffff;
}
